@model PrintStore.Models.FilterViewModel
@using PrintStore.Infrastructure
@using PrintStore.Domain.Concrete
@using PrintStore.Domain.Entities

@{
    Layout = null;
    EFBusinessLogicLayer layer = new EFBusinessLogicLayer();
    Dictionary<int, string> categories = new Dictionary<int, string>();
    foreach (Category category in layer.Categories)
    {
        if (!category.IsDeleted)
        {
            categories.Add(category.CategoryId, category.Name);
        }

    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Filters</h3>
    </div>
    @using (Ajax.BeginForm("DisplayFilter", "Product", new AjaxOptions { UpdateTargetId = "column-left", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
    {
        <div class="panel-body">
            @Html.ValidationSummary()

            <p>@Html.LabelFor(f => f.Category, "Category")</p>
            <p>@Html.CategoryDropDownList("Category", categories, new { @class = "form-control" })</p>

            <p>@Html.LabelFor(f => f.SelectedMinimum, string.Format("Minimum price (${0})", Model.MinimumLimit))</p>
            <input type="text" value="@Model.MinimumLimit" class="form-control" name="SelectedMinimum" />

            <p>@Html.LabelFor(f => f.SelectedMaximum, string.Format("Maximum price (${0})", Model.MaximumLimit))</p>
            <input type="text" value="@Model.MaximumLimit" class="form-control" name="SelectedMaximum" />

            <p>@Html.LabelFor(f => f.Material)</p>
            <p>@Html.DropDownListFor(f => f.Material, new SelectList(Enum.GetNames(Model.Material.GetType()), Model.Material.ToString()), new { @class = "form-control" })</p>

            <p>@Html.LabelFor(f => f.Texture)</p>
            <p>@Html.DropDownListFor(f => f.Texture, new SelectList(Enum.GetNames(Model.Texture.GetType()), Model.Texture.ToString()), new { @class = "form-control" })</p>

            <p>@Html.LabelFor(f => f.Size)</p>
            <p>@Html.DropDownListFor(f => f.Size, new SelectList(Enum.GetNames(Model.Size.GetType()), Model.Size.ToString()), new { @class = "form-control" })</p>

            <p>@Html.LabelFor(f => f.SortOrder, "Sort order")</p>
            <p>@Html.DropDownListFor(f => f.SortOrder, new SelectList(Enum.GetNames(Model.SortOrder.GetType()), Model.SortOrder.ToString()), new { @class = "form-control" })</p>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Apply filters" class="btn btn-primary" />
        </div>
    }
</div>