@using PrintStore.Domain.Entities
@model Product

@{
    ViewBag.Title = "GetProductInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thumbnail">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <img src="~/Images/@Model.BigImagePath" alt="@Model.Name" class="img-responsive" />
        </div>

        <div class="col-xs-12 col-lg-4">
            <h3>@Model.Name</h3>

            <p>Category: <span class="text-info">@Model.Category.Name</span></p>

            <p>Material: <span class="text-info">@Model.Material.ToString()</span></p>

            <p>Size: <span class="text-info">@Model.Size.ToString()</span></p>

            <p>Texture: <span class="text-info">@Model.Texture.ToString()</span></p>

            <p>Date added: <span class="text-info">@Model.DateAdded</span></p>
            <hr />

            <p><span class="label label-default label-price">$@Model.Price</span></p>

            <p>@Html.ActionLink("Add to cart", "AddProductToCart", "Product", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>
    <div class="caption">
        <p>Description:</p>
        <p class="text-info">@Model.Description</p>
    </div>
</div>