@using PrintStore.Domain.Entities
@model Product

@{
    ViewBag.Title = "GetProductInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thumbnail">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <img src="~/Images/@Model.BigImagePath" alt="@Model.Name" class="img-responsive" />
        </div>

        <div class="col-xs-12 col-lg-4">
            <h3>@Model.Name</h3>
            <p>Category:</p>
            <p class="text-info">@Model.Category.Name</p>
            <p>Material:</p>
            <p class="text-info">@Model.Material.ToString()</p>
            <p>Date added:</p>
            <p class="text-info">@Model.DateAdded</p>
            <hr />
            <p><span class="label label-default label-price">$@Model.Price</span></p>
            <p>@Html.ActionLink("Add to cart", "AddProductToCart", "Product", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>
    <div class="caption">
        <hr />
        <p>Description:</p>
        <p class="text-info">@Model.Description</p>
    </div>
</div>