@model PrintStore.Domain.Entities.Category

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit category</h3>
    </div>
    @using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.ValidationSummary()
            @Html.HiddenFor(c => c.CategoryId)

            <p>@Html.LabelFor(c => c.Name)</p>
            <p>@Html.TextBoxFor(c => c.Name, new { @class = "form-control" })</p>

            <p>@Html.LabelFor(c => c.Description)</p>
            <p>@Html.TextAreaFor(c => c.Description, new { @class = "form-control", rows = 5 })</p>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "GetCategories", "Admin", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

