@using PrintStore.Domain.Entities
@using PrintStore.Domain.Concrete
@model Cart

@{
    ViewBag.Title = "DisplayCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EFBusinessLogicLayer layer = new EFBusinessLogicLayer();
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Your shopping cart</h3>
    </div>
    <div class="panel-body">
        @if (Model.CartLines.Count() != 0)
        {
            <table class="table table-condensed table-striped table-responsive">
                <tr>
                    <th style="width:10%;">Product</th>
                    <th style="width:5%;">Quantity</th>
                    <th style="width:30%;">Description</th>
                    <th style="width:25%;">Image</th>
                    <th style="width:15%;">Actions</th>
                    <th style="width:15%;">Price</th>
                </tr>

                @foreach (CartLine cartLine in Model.CartLines)
                {
                    Product product = layer.Products.Where(p => p.ProductId == cartLine.ProductId).First();
                    <tr>
                        <td>@product.Name</td>
                        <td>@cartLine.Quantity</td>
                        <td>@product.Description</td>
                        <td><img src="~/Images/@product.SmallImagePath" width="200" height="150" /></td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                            {
                                <input type="hidden" name="productId" value=@product.ProductId />
                                <input type="submit" value="Remove" class="btn btn-danger" />
                            }
                        </td>
                        <td>@(product.Price * cartLine.Quantity)</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>Your cart is empty!</p>
        }
    </div>
    <div class="panel-footer">
        @if (Request.IsAuthenticated && Model.ComputeTotalPrice() != default(decimal))
        {
            using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
            {
                <span>Total price - $@Model.ComputeTotalPrice() &nbsp;</span>
                <input type="submit" class="btn btn-primary btn-lg" value="Check out" />
            }
        }
        else
        {
            <p>
                Total price - $@Model.ComputeTotalPrice() &nbsp;
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Check out</button>
            </p>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    @if (Model.ComputeTotalPrice() == default(decimal))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Your cart is empty!</p>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>

                    }
                    else
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Only registered users can check out!</p>
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary pull-left", @id = "registerLink" })
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
