@using PrintStore.Models
@model List<OrderViewModel>

@{
    ViewBag.Title = "User profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Your profile
    </div>
    <div class="panel-body">
        @if (Model.Count() != 0)
        {
            <table class="table table-condensed table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <th>Date added</th>
                    <th>Status</th>
                    <th>Total price</th>
                    <th>Products</th>
                </tr>
                @foreach (OrderViewModel order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.DateAdded</td>
                        <td>@order.OrderStatus</td>
                        <td>$@order.TotalPrice</td>
                        <td>
                            @foreach (CartLineViewModel line in order.CartLineViewModels)
                            {
                                <p>@string.Format("{0}({1}) x {2}", line.Product.Name, line.Product.Price, line.Quantity)</p>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Your order list is empty!</p>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Manage profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg", title = "Manage" })
    </div>
</div>


